body {
  font-size: 12px;
}

.menu-border {
  /* border:solid thin #f11f41; */
  border-radius: 5px;
  width:30px;
  height:30px;
  padding-top: 3px;
  margin:auto;
}

.menu-border-row {
  border:solid thin #93939369;
  border-radius: 10px;
  width:50px;
  height:50px;
  margin:auto;
}


.menu-padding {
  padding:0px 40px;
}

.map-full {
  width: 100%;
  height: 650px;
  margin-top:-20px;
}

/* Color Background */
.pink-bg {
  background: #e43f5a;
}

.black-bg {
  background: #1b1b2f;
}

.blue-light-bg {
  background: #1f4068;
}

.blue-dark-bg {
  background: #162447;
}

/* Color Text */

.pink-text {
  color: #e43f5a;
}

.black-text {
  background: #1b1b2f;
}

.blue-light-text {
  background: #1f4068;
}

.blue-dark-text {
  background: #162447;
}
